	<% form_for [:admin, @callout], :html => { :multipart => true } do |f| %>
<%= f.error_messages -%>
		<div>
		  <%= f.label :name %>
		  <%= f.text_field :name, :maxlength => 40, :class => 'max' %>
		</div>
		<div>
		  <%= f.label :alt %>
		  <%= f.text_field :alt, :size => 80, :class => 'max' %>
		</div>
		<div>
		  <%= f.label :url %>
		  <%= f.text_field :url, :size => 80, :class => 'max' %>
		</div>
		<div>
<% if @callout.attachment? %>
			<div class="thumb">
				<%= image_tag @callout.attachment.url(:thumb), :class => 'thumb', :width => 100 %><br />
				<%= link_to "Delete image?", delete_attachment_admin_callout_path, :confirm => 'Are you sure you want to delete this image?' %>
			</div>
<% end %>
			<%= f.label :attachment, "Image:" %> <em>(Max. 2 Mb, PNG, 350x180 px with 2 states each 90 px high)</em>
			<%= f.file_field :attachment, :class => 'file', :size => 14 %>
		</div>
		<p class="action">
		  <%= f.submit "Save Changes", :disable_with => "Saving..." %>
		</p>
	<% end %>