<% @content_for_title = strip_tags(@subcategory.title) + " &mdash; " + strip_tags(@subcategory.parent.title) -%>
<div id="content">
<%= render :partial => "subcategory_subnav", :object => @subcategory %>
	<h2><%= @subcategory.title %></h2>
<% unless @subcategory.description.blank? -%>
	<div class="description">
<%= textilize(@subcategory.description) %>
	</div><!-- // description -->
<% end -%>
	<ul class="items">
<% @subcategory.items.sort_by(&:position).each do |item| -%>
		<li>
<% if item.image %>			<img src="<%= item.image %>" alt="" /><% end %>
			<h3><%= textilize_without_paragraph(item.title) %></h3>
			<div><%= textilize(item.body) %></div>
		</li>
<% end -%>
	</ul><!-- // items -->
<%= render :partial => "subcategory_subnav", :object => @subcategory %>
</div><!-- // content -->