<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title><%= page_title %> Admin</title>
	<%= stylesheet_link_tag "login.css" %>
	<%= javascript_include_tag "jquery-1.2.6.min.js" %>
	<%= javascript_include_tag "admin.js" %>
</head>
<body id="login">


<div id="branding">
	<h1><img src="/images/admin/branding.png" height="25" alt="Pizzatown Administration"></h1>
<% flash.each do |key, msg| -%>
	<%= content_tag :div, msg, :class => ['flash ', key] %>
<% end -%>	
</div><!-- // branding -->


<div id="content">
<%= yield %>
</div><!-- // content -->


</body>
</html>